<div class="container-fluid">
    <div class="row">
        <!-- Product List -->
        <div class="col-lg-9">
            <div class="row">
                <!-- Loop: One product per column -->
                <div class="col-md-4 mb-4" *ngFor="let product of products">
                    <div class="card h-100">
                        <div class="pt-2 pl-2 pr-2">
                            <img [src]="product.image" class="card-img-top"/>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="card-title">
                                <span>{{ product.title }}</span>
                            </div>
                            <div>
                                <span class="product-description">{{product.description}}</span>
                            </div>
                            <div class="mt-auto d-flex justify-content-between align-items-center pt-3">
                                <span class="text-muted font-weight-bold price_text">${{ product.price }}</span>
                                <button class="btn btn-primary btn-sm add_cart_btn" (click)="addToCart(product)">Add to
                                    Cart</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Cart Summary -->
        <div class="col-lg-3 cart_section">
            <app-cart></app-cart>
        </div>

    </div>
</div>